<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<title><%= full_title(yield(:title)) %></title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<script type="text/javascript" src="//cdn.sublimevideo.net/js/x8chffad.js">
  	</script>
  	<%= render 'layouts/shim' %>
	
</head>
<body>
	
	<%= render 'layouts/navbar' %>
	
	<%= yield %>
	
	<div class="container">
		<%= render 'layouts/footer' %>
	</div>

	<script>
		$('.carousel').carousel({
	   interval: 5000
	  })
	</script>
	
	
</body>
</html>
